/*
using code from flexbox example in Lecture by Helmine Serban, retrieved from canvas.sfu.ca
and referencing https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

*, *::after, *::before{
  box-sizing: border-box;
}

.product-container, .cart-item-container, .payment-container{
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;

  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;

  align-items: flex-start;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;

  margin-left: -1rem;
}

.product{
  flex: 0 1 24rem;
  -webkit-flex: 0 1 24rem;
  -ms-webkit-flex:  0 1 24rem;

  margin: 0 1rem 2rem 1rem;
}

.cart-item-container > *{
  margin: 1rem 1rem 2rem 1rem;

  flex: 1 0 12rem;
  -webkit-flex: 1 0 12rem;
  -ms-webkit-flex:  1 0 12rem;
}

.payment-container > *{
  margin: 1rem 1rem 2rem 1rem;

  flex: 1 0 12rem;
  -webkit-flex: 1 0 12rem;
  -ms-webkit-flex:  1 0 12rem;
}

.colours-container{
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  align-items:flex-start;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;

  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;

  margin-left:-1rem;
  width: 100%;
}

.colour-block{
  flex: 1 1 22rem;
  -webkit-flex: 1 1 22rem;
  -ms-webkit-flex:  1 1 22rem;

  padding: 1rem;
  margin: 1rem;
}

.box{
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;

  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;

  align-items: flex-start;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
}

.nav-box{
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;

  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;

  align-items: flex-end;
  -webkit-align-items: flex-end;
  -ms-align-items: flex-end;
}

.center-box{
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;

  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;

  /* align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;   */

  align-items: stretch;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
}

.grow-1, .grow-3{
  -webkit-flex: 1 1 0;
  -ms-flex: 1 1 0;
  flex: 1 1 0;
}

.grow-1:last-child{
  margin-left: 1rem;
}

.grow-2{
  -webkit-flex: 2 1 0;
  -ms-flex: 2 1 0;
  flex: 2 1 0;
}

@media only screen and (max-width: 790px) {
.grow-1{
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-left: 0;
    width:100%;
  }

  .grow-1:last-child{
    margin-left: 0;
  }

  .box, .center-box{
    flex-direction: column;
  }

  .buttons .grow-1{
    width: 100%;
  }

  .cart-sections .box{
    flex-direction: row;
  }

  .cart-sections .grow-1{
    width: 50%;
  }

  footer .box{
    flex-direction: row;
  }

  footer .grow-1{
    width: 50%;
    margin-bottom: 1rem;
  }

  #about-img{
    padding: 10rem;
  }

  #updates-img{
    padding: 10rem;
    order: -1;
  }
}
