@import url('https://fonts.googleapis.com/css?family=Miriam+Libre|Libre+Franklin:400,700');
/*
  font sources:
  https://fonts.google.com/specimen/Libre+Franklin
  https://fonts.google.com/specimen/Miriam+Libre
*/

/* MAIN CSS USED ACROSS MOST PAGES */

body{
  background-color: #fff;
  font-family: 'Libre Franklin', sans-serif;
  margin:0;
  overflow-wrap: break-word;
}

/* header styling*/
header{
  padding-top:0;
}

.nav-container{ /* for link placement in navigation bars */
  margin:auto;
  width:80%;
}

/* navigation styling */
.main-nav{
  background-color: #446AAF;
  font-size: 0.8rem;
  width:100%;
  margin-top: 0;
}

.nav-link{
  border-bottom: 2px solid transparent;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: bold;
  margin-right:3rem;
  padding: 1rem 0;
  text-transform: uppercase;
  text-align: center;
  transition: 0.2s;
  color: #fff;
}

.nav-link:last-child{
   margin-right: 0;
}

.nav-link:hover, .nav-link:active, .nav-link:focus{
  border-bottom: 2px solid;
  color: #EBEBEB;
}

.logo-header{
  text-align: left;
  width: 80%;
  margin: auto;
  padding-top: 1.5rem;
}

.logo-header a{
  font-family: 'Miriam Libre', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #fff;
}


.style-guide-nav{
  background-color: #1E4CA1;
  margin-top: 0;
}

.current-link{
  border-bottom: 2px solid;
}

/* main page/content width styling */
#interactive_elements, #page_template{
  padding:1rem 0 2rem;
  /* border-bottom: 2px  #1E4CA1 solid; */
  margin:auto;
  width:80%;
}

#text_elements, #combined_elements, #brand_information, #design_elements, #citations, #code_section{
  padding:3rem 0 2rem;
  border-bottom: 2px  #1E4CA1 solid;
  margin:auto;
  width:80%;
}

section{
  width: 100%;
}

.element{
  margin: 0 0 3rem 0;
  padding-bottom: 1rem;
  width:100%;
  border-bottom: 2px  #1E4CA1 dotted;
}

.element:last-child{
  border-bottom: none;
}

/* text, links, image styling */
figure{
  margin: 0;
  display: inline-block;
}

h1{
  font-family: 'Miriam Libre', sans-serif;
  font-weight: 400;
}

h1.hero{
  font-size: 4rem;
  margin: 0.5rem 0 0.5rem 0;
}

h2, h3, h4{
  font-family: 'Miriam Libre', sans-serif;
  font-weight: 700;
  margin: 0.5rem 0 0.5rem 0;
}

a{
  text-decoration: none;
  color: #000;
}

p a, li a{
  color: #1E4CA1;
  font-weight: bold;
  transition: 0.1s;
}

p a:hover, p a:active, p a:focus,
li a:hover, a:active, a:focus{
  color:#000;
  border-bottom: 2px solid;
}

img{
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.image-link a{
  transition: 0.1s;
  border-bottom: none;
}

.image-link a:hover, .image-link a:active, .image-link a:focus{
  opacity: 0.75;
  border-bottom: none;
}

/* form and input styling */
label{
  display: block;
  margin: 2rem 1rem 0 0;
  font-weight: bold;
}

input{
  background-color: #EBEBEB;
  border: 0;
  padding: 0.5rem;
  transition: 0.2s;
  margin-top: 1rem;

}

input:hover, input:active, input:focus{
  background-color: #C0C0C0;
}

input[type=text]{
  width: 100%;
  margin-bottom: 0.5rem;
}

input[type=radio]{
  margin: 0.8rem 0.2rem 0.5rem 0;
}

.h1-example{
  font-size: 2rem;
  margin:0;
  font-family: 'Miriam Libre', sans-serif;
}

code{
  background-color: #e2e2e2;
  padding:1rem;
  display: block;
}

ul{
  line-height: 1.75rem;
  list-style-type: circle;
  margin:0 0 1rem 0;
}

pre{
  margin:0;
  padding: 0;
  white-space: pre-wrap;
}

/* button styling */
#example-buttons{ /*specifically for style guide*/
  padding: 1rem;
  width:20rem;
  background-color: #446AAF;
}

button{
  padding:1rem;
  margin-top: 1rem;
  text-transform: uppercase;
  border:none;
  width: 100%;
  font-family: 'Libre Franklin', sans-serif;
  transition: 0.2s;
}

button:hover{
  cursor:pointer;
  box-shadow: 3px 3px #000;
}

button:active{
  box-shadow: 6px 6px;
}

.reset-button{
  background-color: #EBEBEB;
  border: 1px transparent;
}

.submit-button{
  background-color: #FF6700;
  color: #fff;
  border-top: 1px transparent;
  border-right: 1px #446AAF solid;
  border-bottom: 1px #446AAF solid;
  border-left: 1px transparent;
  transition: 0.3s;
}

.text-button {
  color: #1E4CA1;
  font-family: 'Miriam Libre', sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  text-decoration: underline;
}

/* li styling instructions from https://css-tricks.com/custom-list-number-styling/ */
ol{
  line-height: 1.75rem;
  list-style: none;
  padding-left: 1.25rem;
  margin-top: 0;
}

ol li{
  counter-increment: list-counter;
}

ol li::before {
  content: counter(list-counter) ". ";
  font-weight: 700;
  padding-right: 0.25rem;
}

/*FOOTER STYLING */
footer{
  width: 100%;
  background-color: #e2e2e2;
  padding: 4rem 2rem 2rem 2rem;
  margin: 0;
}

footer a {
  display: block;
  font-size: 0.9rem;
  margin: 0.5rem 0 0.5rem 0;
}

footer a:hover, footer a:focus {
  text-decoration: underline;
}

footer p {
  line-height: 1rem;
  margin-bottom: -0.5rem;
}

footer img {
  width: 15%;
  margin-right: 0.5rem;
}

footer label, footer h2, footer h3 {
  margin-top: 0.5rem;
}

.footer-column{
  margin-right: 1rem;
}

/* style guide styling of example text and colours section */
.font-example{
  font-size: 1.5rem;
  margin: 0;
}

.eczar{
  font-family: 'Miriam Libre', sans-serif;
}

.worksans{
  font-family: 'Libre Franklin', sans-serif;
  margin-top: 2rem;
}

.bg-colour{
  background-color: #fff;
  border: 1px solid;
}

.text-colour{
  background-color: #000;
  color: #fff;
  border: 1px solid transparent;
}

.accent1-colour{
  background-color: #C0C0C0;
}

.accent2-colour{
  background-color: #446AAF;
  border: 1px solid transparent;
}

.accent3-colour{
  background-color: #1E4CA1;
  border: 1px solid transparent;
}

.accent4-colour{
  background-color: #FF6700;
  border: 1px solid transparent;
}

.poster-inspiration{
  max-width: 24rem;
  padding:1rem;
}

/* PRODUCT PAGE  */
.product-info{
  width: inherit;
}

/* CART PAGE */
.checkout-container{
  height: 15em;
  margin-bottom: 1rem;
}

.checkout-cart, .payment-form{
  margin:0;
}

#total{ /* id for ol */
  border-bottom: 2px  #1E4CA1 dotted;
  padding-bottom: 1rem;
}

.cart-total{
  padding: 0 1rem 1rem 1rem;
  background-color: #446AAF;
}

/* CHECKOUT PAGE */
.payment-form h4{
  margin-top:0;
}

/* homepage */

.hero-container{
  position: relative;
  color: white;
  margin: 0;
  padding: 0;
}

.hero-text-right {
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 40%;
}

.hero-text-left {
  position: absolute;
  bottom: 50%;
  right: 50%;
  width: 40%;
  text-align: right;
}

h1.hero{
  font-family: 'Miriam Libre', sans-serif;
  font-weight: 400;
  font-size: 5rem;
}

.hero2{
  width: 50%;
  float: left;
  display: inline-block;
}

.hero2-text {
  width: 49%;
  text-align: center;
  display: inline-block;

  margin: auto;
  justify-content:center;

  min-height: 600px;
}

/* NEW CHECKOUT PAGE */
.container {
  width: 80%;
  margin: auto;
}

.check-out {
  margin-left: 2em;
}

.checkout-preview{
  margin-right: 1em;
}

.checkout-preview img {
  width: 94%;
}

.subtotals {
  font-size: 1em;
  font-weight: bold;
  text-align: right;
}

.total-price {
  text-align: right;
}

.total-price p {
  font-size: 2em;
  font-weight: 700;
  line-height: 0;
}

.cart-sections {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 0.09em solid #b5b5b5;
}

.cart-sections p{
  line-height: 0.7em;
}

/* media query */
@media only screen and (max-width: 790px) {
  .element{
    margin: 2rem 0 0 0;
  }

  .check-out {
    margin-left: 0em;
  }
}
