/* NOTE: temporary style, combine with other sheets later */

textarea{
  display: block;
  margin-top: 1rem;
  background-color: #EBEBEB;
  border:none;
  padding: 0.5rem;
  width: 100%;
  height: 10rem;
}

select{
  width: 100%;
  padding: 0.5rem;
  background-color: #EBEBEB;
  border:none;
}

textarea:hover, textarea:active, textarea:focus,
select:hover, select:active, select:focus{
  background-color: #C0C0C0;
}
